{% extends './layout.html' %}
{% block content %}
<div class='row'>
  <div class='col-sm-8'>
    <div id='map'></div>
  </div>
  <div id='right-pane' class='col-sm-4'>
  </div>
</div>

<script>
  var hotels = {{ hotels | dump | safe }};
  var restaurants = {{ restaurants | dump | safe }};
  var activities = {{ activities | dump | safe }};

  var plannedDays = [];

  // console.log(activities);
</script>

<script src='/vendor/jquery/dist/jquery.js'></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API_KEY }}&sensor=true"></script>
<script src='/public/js/Map.js'></script>
<script src='/public/js/_options.js'></script>
<script src='/public/js/Day.js'></script>
<script src='/public/js/_dayPicker.js'></script>
<script src='/public/js/_day.js'></script>
<script src='/public/js/app.js'></script>



{% endblock %}
